

    <h1 class="text-center" style="margin-top:20px" >Welcome to Product Application!</h1>
    <p>At Amazon, we’re able to innovate and delight customers thanks to our incredible workforce—the more
         than 250,000 full-time associates behind our global network of fulfillment centers. Amazon 
         Fulfillment is where our employees, technology and innovation come together every day to delight
          customers.If you're an inventor, you'll love being an Amazonian. From day one at Amazon, you'll 
          take ownership of projects that have a direct impact on our custom
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, at sunt aspernatur vero nisi
         ipsum quisquam ex tempora dolore, doloribus consequuntur et dolor. Unde assumenda deleniti ad 
         optio consequuntur dolore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa fugiat obcaecati accusamus nesciunt
         veritatis in! Consectetur nobis aperiam excepturi maxime, numquam quibusdam esse rerum. 
         Nisi voluptatum eligendi cupiditate optio! Quas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum suscipit voluptatem dicta explicabo
         ut iure unde aspernatur laborum quisquam culpa, nam mollitia, totam sapiente ipsa illo cupiditate 
         hic exercitationem tenetur.</p>
    
   <a style="font-weight:bold" [routerLink]="['/login']" class="text-center">
   <h2 class="text-center" >Login..! </h2>
   </a>

