<div style="color:white; background-color:aqua;
 padding:10px">
  <h2 class="text-center" style="margin-top:20px">
    Product Shopping App
  </h2>
</div>
<div class="bg">
<div class="container" >
    
        <div class="row" >
            <div class="col-md-6">
              <router-outlet></router-outlet>
            
            </div>
            <br/><br/><br/>
                <div class="col-md-6">
              <!--think about something interesting to add-->
              
              <img src="../assets/images/images.jpg"/>
                 </div>
          </div>
      
   
        </div>
</div>